modules = ["python-3.10"]

[nix]
channel = "stable-24_05"
packages = ["portmidi"]

[[ports]]
localPort = 4000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[run]
command = ["python", "test.py", "--debug"]

[workflows]
runButton = "test"

[[workflows.workflow]]
name = "test"
mode = "sequential"
author = 11741143

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python test.py --debug"
# highlight-end
