<div class="note-palette-container">
  <div class="note-palette">
    <div class="palette-note" data-type="note" data-duration="32" draggable="true">
      <img src="/static/images/generatedsvg/note-32nd-up-cropped.svg" alt="32nd Note" class="palette-icon">
      <div class="note-duration">32nd</div>
    </div>
    <div class="palette-note palette-note-default" data-type="note" data-duration="16" draggable="true">
      <img src="/static/images/generatedsvg/note-16th-up-cropped.svg" alt="16th Note" class="palette-icon">
      <div class="note-duration">16th</div>
    </div>
    <div class="palette-note palette-note-default" data-type="note" data-duration="8" draggable="true">
      <img src="/static/images/generatedsvg/note-eighth-up-cropped.svg" alt="8th Note" class="palette-icon">
      <div class="note-duration">8th</div>
    </div>
    <div class="palette-note palette-note-default" data-type="note" data-duration="q" draggable="true">
      <img src="/static/images/generatedsvg/note-quarter-up-cropped.svg" alt="Quarter Note" class="palette-icon">
      <div class="note-duration">Quarter</div>
    </div>
    <div class="palette-note palette-note-default" data-type="note" data-duration="h" draggable="true">
      <img src="/static/images/generatedsvg/note-half-up-cropped.svg" alt="Half Note" class="palette-icon">
      <div class="note-duration">Half</div>
    </div>
    <div class="palette-note palette-note-default" data-type="note" data-duration="w" draggable="true">
      <img src="/static/images/generatedsvg/note-whole-up-cropped.svg" alt="Whole Note" class="palette-icon">
      <div class="note-duration">Whole</div>
    </div>
    
    <div class="palette-note palette-note-dotted" data-type="note" data-duration="16." draggable="true">
      <img src="/static/images/generatedsvg/note-16th-up-dotted-cropped.svg" alt="Dotted 16th Note" class="palette-icon">
      <div class="note-duration">Dot 16th</div>
    </div>
    <div class="palette-note palette-note-dotted" data-type="note" data-duration="8." draggable="true">
      <img src="/static/images/generatedsvg/note-eighth-up-dotted-cropped.svg" alt="Dotted 8th Note" class="palette-icon">
      <div class="note-duration">Dot 8th</div>
    </div>
    <div class="palette-note palette-note-dotted" data-type="note" data-duration="q." draggable="true">
      <img src="/static/images/generatedsvg/note-quarter-up-dotted-cropped.svg" alt="Dotted Quarter Note" class="palette-icon">
      <div class="note-duration">Dot Qtr</div>
    </div>
    <div class="palette-note palette-note-dotted" data-type="note" data-duration="h." draggable="true">
      <img src="/static/images/generatedsvg/note-half-up-dotted-cropped.svg" alt="Dotted Half Note" class="palette-icon">
      <div class="note-duration">Dot Half</div>
    </div>
    <div class="palette-note palette-note-rest" data-type="rest" data-duration="16" draggable="true">
      <img src="/static/images/generatedsvg/rest-16th-cropped.svg" alt="16th Rest" class="palette-icon">
      <div class="note-duration">16th Rest</div>
    </div>
    <div class="palette-note palette-note-rest" data-type="rest" data-duration="8" draggable="true">
      <img src="/static/images/generatedsvg/rest-eighth-cropped.svg" alt="8th Rest" class="palette-icon">
      <div class="note-duration">8th Rest</div>
    </div>
    <div class="palette-note palette-note-rest" data-type="rest" data-duration="q" draggable="true">
      <img src="/static/images/generatedsvg/rest-quarter-cropped.svg" alt="Quarter Rest" class="palette-icon">
      <div class="note-duration">Qtr Rest</div>
    </div>
    <div class="palette-note palette-note-rest" data-type="rest" data-duration="h" draggable="true">
      <img src="/static/images/generatedsvg/rest-half-cropped.svg" alt="Half Rest" class="palette-icon">
      <div class="note-duration">Half Rest</div>
    </div>
    <div class="palette-note palette-note-rest" data-type="rest" data-duration="w" draggable="true">
      <img src="/static/images/generatedsvg/rest-whole-cropped.svg" alt="Whole Rest" class="palette-icon">
      <div class="note-duration">Whole Rest</div>
    </div>
    <div class="palette-note" id="paletteToggleClef" draggable="false">
      <img src="/static/images/generatedsvg/clef-treble-cropped.svg" alt="Toggle Clef" class="palette-icon">
      <div class="note-duration">Treble Clef</div>
    </div>
  </div>
</div>