<div class="playback-controls">
  <button
    id="play-score-btn"
    class="btn btn--primary playback-controls__button"
  >
    ▶ Play Score
  </button>

  <button id="stop-score-btn" class="btn btn--danger playback-controls__button">
    ⏹ Stop
  </button>

  <div class="dropdown-menu-container">
    <button id="playback-menu-btn" class="btn btn--info playback-controls__button">
      ☰ Menu
    </button>
    <div id="playback-menu-dropdown" class="dropdown-content hidden">
      <button id="settings-btn-menu" class="dropdown-item">
        ⚙ Settings
      </button>
      <button id="connect-midi-btn" class="dropdown-item">
        🎹 Connect MIDI
      </button>
      <button id="export-audio-btn" class="dropdown-item">
        📥 Export Audio
      </button>
      <a href="/print" class="dropdown-item">
        🖨 Print
      </a>
      <button id="load-score-btn" class="dropdown-item">
        📂 Load
      </button>
      <button id="save-score-btn" class="dropdown-item">
        💾 Save
      </button>
    </div>
  </div>
  
  <input
    type="file"
    id="load-file"
    style="display: none"
    accept=".json, .mid, .midi"
  />
<!--
<button id="show-side-panel-btn" class="btn btn--info playback-controls__button">
    Show Side Panel
</button>-->
</div>
