#instrument {
  position: sticky;
  top: 0;
}

.instrument-panel__keyboard {
  width: 100%;
  min-height: var(--keyboard-min-height-mobile);
  background-color: var(--color-surface);
  border-radius: var(--border-radius);
  overflow: hidden;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  position: sticky;
  top: 0;
  z-index: 100;
}
