<div class="note-palette-container">
    <div class="palette-header">Note Palette</div>
    <div class="note-palette">
        <div class="palette-note" draggable="true" data-type="quarter" data-duration="q">
            ♩
            <div class="note-duration">Quarter</div>
        </div>
        <div class="palette-note" draggable="true" data-type="eighth" data-duration="8">
            ♪
            <div class="note-duration">Eighth</div>
        </div>
        <div class="palette-note" draggable="true" data-type="half" data-duration="h">
            ♫
            <div class="note-duration">Half</div>
        </div>
        <div class="palette-note" draggable="true" data-type="whole" data-duration="w">
            𝅗𝅥
            <div class="note-duration">Whole</div>
        </div>
    </div>
</div>