<div class="note-palette-container">
  <div class="note-palette">
    <div class="palette-note palette-note-default" data-type="note" data-duration="16" draggable="true">
      &#x1D161;
      <div class="note-duration">16th</div>
    </div>
    <div class="palette-note palette-note-default" data-type="note" data-duration="8" draggable="true">
      &#x1D160;
      <div class="note-duration">8th</div>
    </div>
    <div class="palette-note palette-note-default" data-type="note" data-duration="q" draggable="true">
      &#x2669;
      <div class="note-duration">Quarter</div>
    </div>
    <div class="palette-note palette-note-default" data-type="note" data-duration="h" draggable="true">
      &#x1D15F;
      <div class="note-duration">Half</div>
    </div>
    <div class="palette-note palette-note-default" data-type="note" data-duration="w" draggable="true">
      &#x1D15D;
      <div class="note-duration">Whole</div>
    </div>
    
    <div class="palette-note palette-note-dotted" data-type="note" data-duration="16." draggable="true">
      &#x1D161;.
      <div class="note-duration">Dotted 16th</div>
    </div>
    <div class="palette-note palette-note-dotted" data-type="note" data-duration="8." draggable="true">
      &#x1D160;.
      <div class="note-duration">Dotted 8th</div>
    </div>
    <div class="palette-note palette-note-dotted" data-type="note" data-duration="q." draggable="true">
      &#x2669;.
      <div class="note-duration">Dotted Qtr</div>
    </div>
    <div class="palette-note palette-note-dotted" data-type="note" data-duration="h." draggable="true">
      &#x1D15F;.
      <div class="note-duration">Dotted Half</div>
    </div>
    <div class="palette-note palette-note-dotted" data-type="note" data-duration="w." draggable="true">
      &#x1D15D;.
      <div class="note-duration">Dotted Whole</div>
    </div>
    
    <div class="palette-note palette-note-rest" data-type="rest" data-duration="16" draggable="true">
      &#x1D140;
      <div class="note-duration">16th Rest</div>
    </div>
    <div class="palette-note palette-note-rest" data-type="rest" data-duration="8" draggable="true">
      &#x1D13F;
      <div class="note-duration">8th Rest</div>
    </div>
    <div class="palette-note palette-note-rest" data-type="rest" data-duration="q" draggable="true">
      &#x1D13E;
      <div class="note-duration">Qtr Rest</div>
    </div>
    <div class="palette-note palette-note-rest" data-type="rest" data-duration="h" draggable="true">
      &#x1D13D;
      <div class="note-duration">Half Rest</div>
    </div>
    <div class="palette-note palette-note-rest" data-type="rest" data-duration="w" draggable="true">
      &#x1D13B;
      <div class="note-duration">Whole Rest</div>
    </div>
    
    <div class="palette-note palette-note-dotted-rest" data-type="rest" data-duration="16." draggable="true">
      &#x1D140;.
      <div class="note-duration">Dotted 16th</div>
    </div>
    <div class="palette-note palette-note-dotted-rest" data-type="rest" data-duration="8." draggable="true">
      &#x1D13F;.
      <div class="note-duration">Dotted 8th</div>
    </div>
    <div class="palette-note palette-note-dotted-rest" data-type="rest" data-duration="q." draggable="true">
      &#x1D13E;.
      <div class="note-duration">Dotted Qtr</div>
    </div>
    <div class="palette-note palette-note-dotted-rest" data-type="rest" data-duration="h." draggable="true">
      &#x1D13D;.
      <div class="note-duration">Dotted Half</div>
    </div>
    <div class="palette-note palette-note-dotted-rest" data-type="rest" data-duration="w." draggable="true">
      &#x1D13B;.
      <div class="note-duration">Dotted Whole</div>
    </div>
  </div>
</div>