{% extends "index.html" %}

{% block title %}PianoTour - Extras{% endblock %}

{% block extras %}
<a href="/player">
  <button id="midi-player-btn" class="btn btn--primary btn--side playback-controls__button">
    MIDI Player
  </button>
</a>
<a href="/practice">
  <button id="practice-btn" class="btn btn--info btn--side">
    Sight Reading Practice
  </button>
</a>
<button id="export-midi-btn" class="btn btn--info btn--side">Export MIDI</button>
<!-- This input is not a visible button -->
<input type="file" id="file-loader-input" style="display: none" accept=".json, .mid, .midi" />
{% endblock %}

{% block scripts %}
<script type="module">
  import { exportMidi } from '{{ url_for("static", filename="ioHelpers.js") }}';
  document.getElementById("export-midi-btn")?.addEventListener("click", (e) => {
    exportMidi(e);
    document.getElementById("instrument")?.focus();
  });
</script>
{% endblock %}